<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">


    <apikit:config name="oauth2-config" raml="oauth2.raml" consoleEnabled="false" doc:name="Router"/>
   
	<api-platform-gw:client-store id="api-platform-client-store"
		doc:name="Client Store" />

	<!-- <context:property-placeholder location="init.properties" /> -->

	<oauth2-provider:config name="OAuth_provider_module"
		accessTokenEndpointPath="oauth/token" providerName="CustomProvider"
		clientStore-ref="api-platform-client-store" authorizationEndpointPath="oauth/authorize"
		listenerConfig-ref="oauth-api-http-lc-8089" supportedGrantTypes="CLIENT_CREDENTIALS AUTHORIZATION_CODE"
		doc:name="OAuth provider module">
	</oauth2-provider:config>
   

</mule>
